html, body {
    height: 100%;
}
body {
    font-family: 'Chakra Petch';
    font-size: 10px;
}
.navbar-fixed-top.scrolled {
    background-color: rgba(46,46,46,0.7) !important;
    transition: background-color 200ms linear;
}
.nav-cwlt {
    background: rgba(46,46,46,0.9);
    border-color: transparent;
}
.nav-cwlt .navbar-collapse {
    border-color: transparent;
}
.nav-cwlt ul.navbar-nav > li > a {
    text-transform: uppercase;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.nav-cwlt ul.navbar-nav > li > a,
.nav-cwlt ul.navbar-nav > li > a:hover,
.nav-cwlt ul.navbar-nav > li > a:focus {
    color: #fff;
    font-size: 1.5em;
}
.cwlt-navbar .navbar-nav >.active > a,
.cwlt-navbar .navbar-nav >.active > a:focus,
.cwlt-navbar .navbar-nav >.active > a:hover {
    background-color: #f39c12;
    color: #fff;
}
.cwlt-navbar .navbar-nav .request-quote a, 
.cwlt-navbar .navbar-nav .request-quote a:focus {
    background: #ecf0f1;
    color: #3C3939;
    transition: 0.4s;
}
.cwlt-navbar .navbar-nav .request-quote a:hover {
    background: #e74c3c;
    color: #fff;
}
.cwlt-navbar .navbar-nav .request-quote {
    margin-left: 1em;
}
.cwlt-navbar .navbar-nav {
    padding-right: 1em;
}
.nav-cwlt .easy-contact {
    background: #383838;
    padding: .5em;
    font-size: 1.5em;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-cwlt .brand-logo img {
    height: 10vh;
}
.nav-cwlt .brand-logo {
    display: flex;
    padding: 1.5em 0em;
}
.nav-cwlt .brand-logo div {
    color: #fff;
    font-size: 1.5em;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
}
.brand-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.2em;
}
.cwlt-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-cwlt .navbar-toggle,
.nav-cwlt .navbar-toggle:focus {
    border-color: #d35400;
    border-bottom-width: 2px;
    background: #f39c12;
    transition: 0.4s;
}
.nav-cwlt .navbar-toggle:hover {
    background: #d35400;
}
.nav-cwlt .navbar-toggle .icon-bar {
    background: #fff;
}
.carousel-cwlt .carousel-inner {
    height: 100vh;
}
.carousel-cwlt .carousel-inner img {
    width: 100%;
    height: 100vh;
}
.cwlt-heading-text {
    margin-top: 5em;
    margin-bottom: 5em;
}
.cwlt-heading-text h1 {
    text-align: center;
    font-size: 5em;
}
.cwlt-heading-text h3 {
    text-align: center;
    font-size: 2.5em;
}
.cwlt-heading-text p {
    text-align: center;
    font-size: 2em;
}
.cwlt-card {
    text-align: center;
}
.cwlt-card p {
    font-size: 1.7em;
    line-height: 2em;
}
#services {
    background: #ecf0f1;
    margin-top: 5em;
    padding: 2em;
}
#services h1 {
    text-align: center;
} 
#services .services {
    display: flex;
    align-items: center;
}
#services .detail {
    /*color: #fff;*/
    font-size: 2em;
}
#services .service-image {
    flex: 1;
    text-align: center;
}
#services .detail h3 {
    text-transform: uppercase;
}
#services ul li {
    list-style: none;
    font-weight: 300;
}

#trucks {
    background: #f5f5f5;
    padding-top: 3em;
    padding-bottom: 5em;
}
#trucks h1 {
    font-size: 5em;
    text-align: center;
}
#trucks h3 {
    text-align: center;
}
#trucks .trucks {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#trucks .cwlt-truck {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    padding-top: 3em;
    padding-left: 3em;
}
.cwlt-truck:hover {
    cursor: pointer;
    animation: pulse .3s;
}
#trucks .cwlt-truck img {
    width: 150px;
    height: 150px;
}
#trucks .cwlt-truck .request-quote {
    border-radius: 0px;
    font-size: 2em;
    text-transform: uppercase;
    color: #fff;
    background: #e67e22;
    transition: 0.4s;
}
#trucks .cwlt-truck .request-quote:hover {
    background: #d35400;
}
.album-thumbnail {
    flex: 1;
    display: flex;
}
.truck-name {
    background: #eaeaea;
    border: 1px #ccc solid;
    padding: .5em;
    font-size: 2.3em;
    text-align: center;
}

#request-quote .modal-content {
    border-radius: 0px;
}
#request-quote .modal-header {
    background: #383838;
}
#request-quote .modal-header .modal-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.form-control {
    border-radius: 0px;
}
textarea {
    resize: none;
}
.cwlt-success {
    font-size: 1.5em;
    border-radius: 0px;
    font-weight: 400;
    text-transform: uppercase;
    background: #1abc9c;
    color: #fff;
    padding: 8px 14px;
    transition: 0.4s;
}
.cwlt-success:hover,
.cwlt-success:focus {
    background: #16a085;
    color: #fff;
    cursor: pointer;
}

#contact {
    background: #ecf0f1;
    margin-bottom: 5em;
}
#contact .location iframe {
    width: 100%;
}
#contact .contact-form h1 {
    margin-bottom: .5em;
}

#footer {
    background: #34495e;
    padding: 2em;
    font-size: 1.6em;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    letter-spacing: .05em;
}
#footer .left-part {
    flex: 1;
}
#footer .right-part i {
    margin-right: .5em;
}