.form-control
	border-radius: 0px

textarea
	resize: none

.cwlt-heading-text
	margin-top: 5em
	margin-bottom: 5em

	h1
		font-size: 5em
		margin: initial

	h3
		font-size: 3em

.cwlt-alert
	font-size: 1.7em
	color: #fff
	display: none
	padding: 10px 12px
	&.alert-success
		background: #00e640
	&.alert-danger
		background: #d91e18
	&.alert-info
		background: #22a7f0