@media only screen and (max-width : 320px)


@media only screen and (max-width : 480px)


@media only screen and (max-width : 768px)
	.navbar-fixed-top.scrolled
		background-color: rgba(46,46,46,1)

	.cwlt-navbar
		display: block

		.request-quote
			margin-left: initial

	.nav-cwlt .brand-logo
		padding: 1.5em 0em 0em

	.cwlt-navbar .navbar-nav
		padding-right: initial

	.nav-cwlt ul.navbar-nav > li > a
		border-top-left-radius: initial
		border-bottom-left-radius: initial

	#services .services
		display: block
		align-items: initial

	#trucks .trucks
		display: block

	#trucks .cwlt-truck
		margin-top: 3em

	.cwlt-truck
		padding-left: initial

	#about .company-ambition
		display: block

	#contact .contact-container
		display: block

	#contact .contact-display
		margin-top: 3em


@media only screen and (max-width : 992px)


@media only screen and (max-width : 1200px)

